﻿h1 {
   font-family: 'Segoe UI';
   font-size: x-large;
   color: #606060;
}

h2 {
   font-family: 'Segoe UI';
   font-size: large;
   color: #606060;
}

h3 {
   font-family: 'Segoe UI';
   font-size: medium;
   color: #606060;
}

h4 {
   font-family: 'Segoe UI';
   font-size: larger;
   color: #606060;
   font-weight: bold;
}

body {
   font-family: 'Calibri';
   font-size: medium;
   background-color: #ffffff;
}

.code_standard {
   font-family: 'Consolas';
   font-size: medium;
   color: Black;
   background-color: White;
}

.code_standard_bold {
   font-family: 'Consolas';
   font-size: medium;
   color: Black;
   background-color: White;
   font-weight: bold;
}

.code_keyword {
   font-family: 'Consolas';
   font-size: medium;
   color: Purple;
   background-color: White;
}

.code_Class {
   font-family: 'Consolas';
   font-size: medium;
   color: #2b91af;
   background-color: White;
}

.code_Struct {
   font-family: 'Consolas';
   font-size: medium;
   color: navy;
   background-color: White;
   font-weight: bold;
}

.code_Method {
   font-family: 'Consolas';
   font-size: medium;
   color: #8000ff;
   background-color: White;
}

.code_Delegate {
   font-family: 'Consolas';
   font-size: medium;
   color: #ffa500;
   background-color: White;
}

.code_Event {
   font-family: 'Consolas';
   font-size: medium;
   color: #c0c000;
   background-color: White;
}

.code_enum {
   font-family: 'Consolas';
   font-size: medium;
   color: Olive;
   background-color: White;
}

.code_Interface {
   font-family: 'Consolas';
   font-size: medium;
   color: #8080ff;
   background-color: White;
}

.code_string {
   font-family: 'Consolas';
   font-size: medium;
   color: Maroon;
   background-color: White;
}

.code_comment {
   font-family: 'Consolas';
   font-size: medium;
   color: #40a420;
   background-color: White;
}

.code_blue {
   font-family: 'Consolas';
   font-size: medium;
   color: #0000ff;
   background-color: White;
}